APP_DEBUG=true
DB_DRIVER=mysql
DEFAULT_TIMEZONE=Asia/Shanghai

#[MYSQL]
DB_TYPE=mysql
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=
DB_CHARSET=utf8mb4
DB_PREFIX=web_
SOFT_DELETE=deleted_at

#[REDIS]
RD_HOST=
RD_PASSWORD=
RD_PORT=
RD_PREFIX=

#[JWT]
JWT_SECRET=30cb068135ea7a8c4cb91c7a6f732bc4

#[CODE]
ERROR_CODE=-1
SUCCESS_CODE=0
